section.filters {
	display: flex;
	align-items: center;
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

button {
	font-size: 18px;
	height:48px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	width: 20%;
	border:0;
	border-radius:4px;
	margin-left:auto;
	margin-right: 30px;
}

button:hover{
	opacity:90%;
}

section .filters-items {
	height: 100%;
	width: 25%;
}
section .amenities{
	border-right: 1px solid #DDDDDD;
}
.filters-items h3{
	font-weight: 600;
}
.filters-items h4{
	font-weight: 400;
	font-size: 14px;
}
